* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
}
.home-container {
  width: 100%;
  min-height: 90vh;
  background-image: linear-gradient(to right, rgb(150, 186, 208), white);
}
.nav-icon {
  width: 100px;
}
.nav-container {
  padding: 10px 80px 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-elements {
  width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.element {
  font-family: Roboto;
  font-weight: 500;
  cursor: pointer;
}
.link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.home-description {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-para {
  color: rgb(41, 41, 210);
  font-size: 17px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}
.home-name {
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  margin-top: 0px;
}
.home-designation {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.designation {
  color: rgb(41, 41, 210);
  font-size: 25px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-container-small {
  display: none;
}

@media screen and (max-width: 776px) {
  .home-name {
    font-size: 40px;
    text-align: center;
    width: 100%;
  }
  .home-para {
    font-size: 15px;
    text-align: center;
  }
  .designation {
    font-size: 20px;
  }
  .home-designation {
    text-align: center;
  }
  .nav-container {
    padding: 10px;
  }
  .nav-icon {
    width: 80px;
  }
  .nav-container {
    display: none;
  }
  .nav-container-small {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding: 10px;
  }
}

.about-container {
  min-height: 90vh;
  background-image: linear-gradient(to right, white, rgb(150, 186, 208));
  margin-bottom: 0px;
}
.profile-photo {
  width: 400px;
  border-radius: 5px;
  box-shadow: 5px 7px 10px 3px;
}
.about-container {
  display: flex;
}
.about-description-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}
.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.about-heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}
.about-para {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
.about-side-headings {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.side-heading-answer {
  font-weight: 100;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 30px;
  margin-bottom: 20px;
}
.about-details-container {
  display: flex;
}
@media screen and (max-width: 776px) {
  .about-container {
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .profile-photo {
    width: 50%;
    margin-bottom: 20px;
  }
  .image-container {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .about-description-container {
    width: 100%;
  }
  .about-heading {
    font-size: 30px;
  }
  .about-para {
    font-size: 15px;
  }
  .about-side-headings {
    font-size: 15px;
  }
  .side-heading-answer {
    font-size: 15px;
  }
}

.resume-contaier {
  margin-top: 0px;
  min-height: 85vh;
  background-image: linear-gradient(to right, rgb(150, 186, 208), white);
  padding: 30px 80px 10px 80px;
  display: flex;
}
.graduation-icon {
  font-size: 40px;
  margin-right: 20px;
}
.education-container {
  display: flex;
}
.education-details {
  font-size: 20px;
}
.education-text {
  margin-bottom: 50px;
}
.resume-inner-container {
  width: 50%;
  padding-left: 20px;
  margin-bottom: 20px;
}
.list-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.skill-icon {
  font-size: 30px;
  margin-right: 20px;
}
.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  flex-wrap: wrap;
}
.acheivement-heading {
  font-size: 18px;
}
.button {
  background-color: rgb(72, 135, 190);
  color: white;

  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 50px;
  border-style: none;
}
@media screen and (max-width: 776px) {
  .resume-contaier {
    padding: 10px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .graduation-icon {
    font-size: 25px;
    margin-right: 10px;
  }
  .education-details {
    font-size: 15px;
  }
  .education-text {
    margin-bottom: 20px;
  }
  .resume-inner-container {
    width: 100%;
  }
  .acheivement-para {
    font-size: 15px;
  }
  .skill-icon {
    font-size: 18px;
    margin-right: 10px;

    margin-bottom: 10px;
  }
  .education-text {
    font-size: 30px;
  }
}

.projects-container {
  margin-top: 0px;
  min-height: 85vh;
  background-image: linear-gradient(to right, white, rgb(150, 186, 208));
  padding: 30px 80px 10px 80px;
}
.project-box {
  margin-bottom: 50px;
}
.git-icon {
  font-size: 20px;
  margin-left: 30px;
}
.git-box {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.projects-link {
  margin-left: 0px;
}
.project-name {
  font-size: 20px;
}
.project-description {
  font-size: 18px;
}
.icon {
  margin-left: 10px;
}
.contact-container {
  background-color: rgb(70, 93, 109);
  padding-top: 15px;
}
.contact-details-container {
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.phone-number-container {
  display: flex;
  align-items: center;
}

.social-icon {
  color: white;
  margin-right: 10px;
  font-size: 22px;
  margin-bottom: 15px;
}
.contact-us-text {
  color: white;
  margin-left: 80px;
  margin-bottom: 20px;
}

@media screen and (max-width: 776px) {
  .projects-container {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .education-text {
    font-size: 30px;
  }
  .contact-us-text {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .project-name {
    font-size: 18px;
  }
  .project-description {
    font-size: 15px;
  }
  .contact-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
  }
  .contact-details-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
  }
  .phone-number-container {
    align-items: center;
  }
  .social-bottom-icons {
    margin-bottom: 20px;
  }
  .social-icon {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
